# Build outputs
build/

# Release binaries
# I keep all stable versions of .exe files (v1.0, v1.1, etc.) locally
releases/

# Visual Studio files
.vs/
*.user
*.aps
*.suo
*.sdf
*.opensdf
*.db
*.opendb
*.exe
*.obj
*.pdb
*.idb
*.ipdb
*.iobj
*.ilk
*.log
*.tlog
*.res
*.recipe
*.lastbuildstate
*.unsuccessfulbuild
*.pch
